<nav class="col-md-2 d-none d-md-block bg-light sidebar bg-gradient-primary">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" (click)="linkClicked('/admin/viewtheater')">
          <i class="fa fa-file-video"></i> Movie Theater <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="linkClicked('/admin/addtheater')">
          <i class="fa fa-plus-square"></i> Add New Theater <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
